<div id="pageHeading">GFTL Help</div>

<div id="sectionHeading">Navigating the Site</div>

<ul>
	<li>You can log in and log out in the upper right-hand corner of each page</li>
	<li>You'll navigate around the site using the links in the menu bar just beneath the blue banner at the top of each page.</li>
	<li>There are a few standard icons that you'll see around the site.  Here's what they mean:</li>
	<ul>
		<li><%= show_icon %> Clicking this icon will show you more information about something.</li>
		<li><%= edit_icon %> Clicking this icon will let you edit something.</li>
		<li><%= trash_icon %> Clicking this icon will let you delete something.  You'll always be given a chance to confirm that you want to continue the delete operation.</li>
	</ul>

</ul>

<div id="sectionHeading">Quick Start Guide</div>

<p>Follow the quick start guide below to start playing GFTL Fantasy NASCAR.  </p>

<div id="subSectionHeading">Making an owner</div>

An owner is the persona you'll be playing as.  You can have multiple owners and they can join different leagues.  The owner name can be your name, but it doesn't need to be.  It can be something fun, like "Down With Dale Jr.".

<ol>
	<li>Click on the "Owner's Box" link on the menu bar just below the blue banner at the top of every page.</li>
	<li>Click the link to create a new owner.</li>
	<li>Fill in a name and click "Create".</li>
</ol>

<div id="subSectionHeading">Set up a draft list</div>

Draft lists are where you record your preferences for different cars.  The lists are used at the beginning of the season during the draft for your permanent cars, and they are used each week to fill in the variable spots in your stable.

<ol>
	<li>Click on the "Draft Lists" link on the menu bar.</li>
	<li>Click the link to create a new draft list.</li>
	<li>You'll need to fill in a name for your draft list (e.g. "Main", "Super Speedway", etc).  The description is optional.  To save these changes you'll need to click the "Update Info" button.</li>
	<li>All of the cars for the current season will show up in a default order.  Use the "Move Up" and "Move Down" buttons to rearrange them into your preferred order.  These changes are saved as soon as you make them.</li>
</ol>

<div id="subSectionHeading">Joining a League</div>

Site administrators will set up leagues for you to join.  A league is just a group of owners who are playing together throughout the season.  When you join a league, you'll be able to see who else you're playing against.  

<ol>
	<li>Click on "League" in the menu bar.</li>
	<li>Click on "League Memberships" in the drop-down menu.</li>
	<li>Click the link to join a new league.</li>
	<li>On the ensuing form, you'll need to specify which league you want to join, the owner you'll be playing as, and the draft list you'll be using.  If you've followed this guide, you'll only have one option for each of these last two choices.</li>
	<li>You'll also need to enter the password given to you by the person who created your league.  This one-time entry of a password lets a league creator control who can access his/her league.</li>
	<li>Click "Join now!"</li>
</ol>

<div id="subSectionHeading">Playing throughout the season</div>

That's pretty much it.  Throughout the season, you can change the order of cars in your draft list(s), and you can change which draft lists will be used in each of your league memberships.  Weekly drafts will occur at regular times before each race.  Standings will be visible on the home page (click "Home" on the menu bar) and in the "League | Active League Details" menu.