<div id="pageHeading">Welcome to GFTL Fantasy NASCAR!</div>

<p>
If you're new to GFTL, check out the quick start guide in the <%= link_to "Infield Care Center", help_index_path %>.
</p>

<p>
If you have questions or suggestions, <a href="mailto:jpslav@gmail.com">contact the site administrator</a>.
</p>

<p>
Enjoy!
</p>

