<div id="pageHeading">Preseason Rankings</div>



<div id="draftListEditLeft">
	Order the cars below in their preseason ranking order.<p>
     <div id="rankingsList">
     <%= render :partial => "ranking_list" %>
     </div>
</div>



<br />
