
<ol>
  <li>Each participant acts as an owner and has a team of drivers.</li>
  <li>Each owner must create a team name; team names can be adjusted throughout 
      the season.</li>
  <li>There are 3 types of drivers available for each owner: franchise, dark horse, 
      and backup drivers.</li>
  <li>Each owner has 4 drivers including one franchise driver, one dark horse driver,
      and two backup drivers for each race; except during recession years where teams 
      will be downsized to 3 drivers—one franchise driver, one dark horse driver, and 
      one backup driver (2012 is a recession year→LACK OF SPONSORSHIP RULE).</li>
  <li>Should the sponsorship (economy) situation improve during any given year, teams 
      may be expanded to 4 drivers per team upon announcement that the NEW SPONSORS have 
      been found.</li>
  <li>Prior to the start of the season, each owner chooses one franchise driver and one 
      dark horse driver.</li>
  <li>The franchise driver can be any driver; owners can have the same franchise driver 
       but once the season starts an owner cannot change franchise driver unless certain circumstances arise:
       <ol>
         <li>Brian Vickers Rule→Driver is injured or must stop racing due to health reasons; 
             owner is allowed to choose any driver as their replacement franchise driver</li>
         <li>Kasey Kahne Rule→Driver is a part of a malfunctioning team and is a lame duck 
             and transfers to another team before the season ends; owner is allowed to keep 
             the same driver or choose a new driver that is not currently another owner’s 
             franchise driver</li>
         <li>Kurt Busch Rule→Driver is fired or let go; owner is allowed to keep the same driver 
             if he is picked up by a new team or choose a new driver that is not currently another 
             owner’s franchise or dark horse driver</li>
      </ol>
   </li>
   <li>The dark horse driver is chosen from the pool of drivers remaining after franchise picks have been made.  Additionally, the dark horse driver cannot have participated in the previous year’s Chase (top 12 in the final standings) until after the first 5 races of the season, at which time an owner can change their dark horse driver while adhering to Rule #9 below.</li>

   <li>An owner may change dark horse drivers at any point during the season after the first 
       5 races but the driver cannot be a current franchise driver of another owner and cannot 
      be currently in the top 10 of points. After the first 5 races, an owner is allowed to select 
      a dark horse driver that participated in the previous year’s Chase (top 12 in the final standings) 
      as long as that driver is not the franchise driver of another owner or currently in the top 10 
      in points. It is recommended that owners choose a dark horse 
      driver that is guaranteed a starting spot in the field (i.e. top 35 in owners points) but 
      an owner may gamble and chose a driver outside of the top 35 not guaranteed a starting spot.  
      See below for exception rules:
      <ol>
        <li>Go or Go Homer Rule→If an owner chooses a dark horse driver outside of the top 35 
            not guaranteed a starting a spot that does not actually qualify for the race, then 
            he/she will be given the next best driver left available after the draft is complete 
            minus the franchise drivers, other dark horse drivers, and backup drivers not picked 
            up by other teams</li>
        <li>Trevor Bayne Rule→An owner may elect to gamble on a different dark horse driver for 
            the Daytona 500 and then switch to a different driver following that race which will 
            then be that owner’s dark horse driver for the remaining 4 of the first 5 races of the 
            season.  The owner must adhere to the dark horse rules outlined in #8 but then can 
            change dark horse drivers after the first 5 races while adhering to rule #9.</li>
      </ol>
  </li>
  <li>If at any point an owner has entered an ineligible driver into a race, that driver will be 
       given the Black Flag and disqualified for actions detrimental to stock car racing (with 
       zero points gained).</li>
  <li>The backup drivers for each owner will come from a pool of drivers in the top 35 excluding 
      franchise drivers (but inclusive of dark horse drivers during non-Recession years).</li>
  <li>Backup drivers will be drafted weekly before qualifying starts according to  the following scheme:
    <ol>
      <li>Each owner will create a draft list ranking all the drivers from best to worst.</li>
      <li>An owner can have multiple draft lists that can be used for different tracks.</li>
      <li>The draft lists can be edited at any time but the selected list (and driver order) 
          for that week will be run prior to qualifying for each race.</li>
      <li>The draft will be run automatically prior to the race each week.</li>
      <li>For each owner’s first backup driver, owners’ draft lists will be run in order 
          based on current owner points, with the list of the owner currently last place 
          in points running first and with the list of the owner currently first place in 
          points running last (except for the Daytona 500; see Rule #20 below).</li>
      <li>For each owner’s second backup driver (if a non-Recession year), owner’s draft 
          lists will be run in random order and not based on current owner points standings.</li>
      <li>An owner can have the same dark horse driver and backup driver for any race during 
          non-Recession years; this is referred to as “pulling double duty” and an owner will 
          receive double the points that driver scores for the race (since the owner actually 
          only has 3 drivers for that race).  No double duty will be allowed during Recession 
          years due to LACK OF SPONSORSHIP.</li>
    </ol>
  </li>
  <li>For each race, each owner’s team of drivers competes and collects points using the NASCAR scoring system.</li>
  <li>Bonus points apply towards the total points gained by a team of drivers but penalty points do not.</li>
  <li>The season is divided into 3 segments or “chases:” all races from the Daytona 500 to the All-Star 
      race (Race to the Chase), all races remaining up until the start of the actual Chase (Sprint to the Chase),
      and finally the final 10 races that make up the Chase.</li>
  <li>There will be a winner for each “chase” based on number of points gained by an owner’s team of drivers.</li>
  <li>Owner points will be reset to zero at the start of each “chase” (except for the actual Chase which will be seeded based on owner wins).</li>
  <li>Owner standings, which determine the draft order for the first backup driver, will carry over for each chase and follow the same rules as mentioned above (except for the actual Chase which will be seeded based on owner wins).</li>
  <li>The Chase order will be seeded and weighted based on owner wins throughout the first 26 races:
    <ol>
      <li>A win is awarded to the owner who gains the most cumulative points in each race.</li>
      <li>Each win is worth +4 bonus points added to an owner’s starting chase points total after the points are reset to zero.</li>
      <li>Seeding in the chase will be based on the total of the bonus points, tiebreakers will be awarded based on the second “mini” chase standings.</li>
    </ol>
  </li>
  <li>For the start of the season, a special draft order for the first backup driver will be used:
    <ol>
      <li>Draft order will be determined by the starting grid for the Daytona 500 (following both qualifying and the Duals).</li>
      <li>The owner with the franchise driver with the best starting position will go first in the draft for the first backup driver.</li>
      <li>Tiebreakers for owners with the same franchise driver will be determined by the best starting position for the dark horse driver. </li>
    </ol>
  </li>
  <li>Prizes include a trophy to the winner of each chase.</li>
  <li>First time owners in Go Fast Turn Left will carry a “Rookie Stripe” (i.e. yellow stripe) for the entire first year as well as a designation of “(r)” by the their team name.</li>
  <li>The winner of the Chase or third and final segment will receive a larger trophy than the winning owners from the first two “chases;” the winner of the Chase will be deemed the Go Fast and Turn Left Champion for that calendar year.</li>
  <li>The overall winning owner based on total combined points gained from all 3 “chases” will be awarded the Always Go Fast and Turn Left Sprint Cup.</li>
  <li>The President and Director for Competition of Go Fast Turn Left reserve the right to adjust the rules and regulations as deemed necessary as unexpected circumstances arise; changes cannot support the competitive advantage  of a single owner but rather be done to preserve the integrity and competitiveness for the entire sport.</li>
  <li>Go Fast Turn Left is a privately owned and operated company; participants do not have a “voice” regarding the rules and regulations but can make a T-shirt and cheer or bitch loudly to make any sentiments they have known.</li>
</ol>
