<div id="pageHeading">Go Fast Turn Left Fantasy NASCAR
Season 3.0 - Rule and Regulations for Competition</div>



<%= render :partial => 'season3' %>

<% if false %>

<ol>
   <li>Each participant acts as an owner and has a team of drivers.</li>
   <li>Each owner must create a team name; team names can be adjusted throughout the season.</li>
   <li>There are 3 types of drivers available for each owner: franchise, dark horse, and backup drivers.</li>
   <li>Each owner has one franchise driver, one dark horse driver, and 2 backup drivers for each race.</li>
   <li>Prior to the start of the season, each owner chooses one franchise driver and one dark horse driver.</li>
   <li>The franchise driver can be any driver; owners can have the same franchise driver but once the season starts an owner cannot change franchise drivers (unless a driver is injured and no longer racing for that season—the Brian Vickers Rule or quits or is fired and is no longer racing with his original team—the Kasey Kahne/Kurt Busch rule).</li>
   <li>The dark horse driver is chosen from the pool of drivers remaining after franchise picks have been made; additionally, the dark horse driver cannot have participated in the previous year’s Chase.</li>
   <li>An owner may change dark horse drivers at any point during the season but the driver cannot be a current franchise driver of another owner, cannot have participated in the previous year’s Chase, and cannot be currently in the top 10 of points.</li>
   <li>If at any point an owner has entered an ineligible driver into a race, that driver will be given the Black Flag and disqualified for actions detrimental to stock car racing.</li>
   <li>The 2 backup drivers for each owner will come from a pool of drivers in the top 35 excluding franchise drivers (but inclusive of dark horse drivers).</li>
   <li>Backup drivers will be drafted weekly before qualifying starts according to  the following scheme:
      <ol>
         <li>Each owner will create a draft list ranking all the drivers from best to worst.</li>
         <li>An owner can have multiple draft lists that can be used for different tracks.</li>
         <li>The draft lists can be edited at any time but the selected list (and driver order) for that week will be run prior to qualifying for each race.</li>
         <li>The draft will be run automatically prior to qualifying each week.</li>
         <li>For each owner’s first backup driver, owners’ draft lists will be run in order based on current owner points, with the list of the owner currently last place in points running first and with the list of the owner currently first place in points running last.</li>
         <li>For each owner’s second backup driver, owner’s draft lists will be run in random order and not based on current owner points standings.</li>
         <li>An owner can have the same dark horse driver and backup driver for any race; this is referred to as “pulling double duty” and an owner will receive double the points that driver scores for the race (since the owner actually only has 3 drivers for that race).</li>
      </ol>
   </li>
   <li>For each race, each owner’s team of drivers competes and collects points using the NASCAR scoring system.</li>
   <li>Bonus points apply towards the total points gained by a team of drivers but penalty points do not.</li>
   <li>The season is divided into 3 segments or “chases:” all races from the Daytona 500 to the All-Star race (Race to the Chase), all races remaining up until the start of the actual Chase (Sprint to the Chase), and finally the final 10 races that make up the Chase.</li>
   <li>There will be a winner for each “chase” based on number of points gained by an owner’s team of drivers.</li>
   <li>Owner points will be reset to zero at the start of each “chase.”</li>
   <li>Owner standings, which determine the draft order for the first backup driver, will carry over for each chase and follow the same rules as mentioned above.</li>
   <li>For the start of the season, a special draft order for the first backup driver will be used:
      <ol>
         <li>Draft order will be determined by the starting grid for the Daytona 500 (following both qualifying and the Duals).</li>
         <li>The owner with the franchise driver with the best starting position will go first in the draft for the first backup driver.</li>
         <li>Tiebreakers for owners with the same franchise driver will be determined by the best starting position for the dark horse driver.</li>
      </ol>
 	</li>
   <li>Prizes include a trophy to the winner of each chase.</li>
   <li>The winner of the Chase or third and final segment will receive a larger trophy than the winning owners from the first two “chases.”</li>
   <li>The overall winning owner based on total combined points gained from all 3 “chases” will be awarded the Go Fast Turn Left Sprint Cup.</li>
   <li>The president and director of competition for Go Fast Turn Left reserve the right to adjust the rules and regulations as deemed necessary as unexpected circumstances arise; changes cannot support the competitive advantage  of a single owner but rather be done to preserve the integrity and competitiveness for the entire sport.</li>
   <li>Go Fast Turn Left is a privately owned and operated company; participants do not have a “voice” regarding the rules and regulations but can make a T-shirt and cheer loudly to make any sentiments they have known.</li>
</ol>

<% end %>
