<div id="pageHeading">Rules</div>

<ol>
<li>Each participant picks a stable of 5 drivers
<li>Two of your 5 drivers are permanent picks for the entire season (unless traded at ordained set points in the season of fantasy) and come from the top 14 of last season
<li>The other 3 drivers are chosen prior to each points paying race weekend except for the first 5 races of the season
<li>For the first 5 races of the season, the top 35 is set as is your 5 driver stable, changes can only be made after the first 5 races to account for the new top 35 as well as allow for trades at preset times
<li>You are only allowed 1 driver from the top 7 in the final points standings last season at the start of the fantasy season
<li>You are then allowed 1 additional driver from the remaining top 7 in the final points standings last season
<li>The top 7 drivers from last year are: Jimmie Johnson, Mark Martin, Jeff Gordan, Kurt Busch, Denny Hamlin, Tony Stewart, Greg Biffle
<li>The next 7 drivers are: Juan Pablo Montoya, Ryan Newman, Kasey Kahne, Carl Edwards, Brian Vickers, Kyle Busch, Matt Kenseth
<li>You are allowed to give up one of your picks from the top 14 to take Dale Jr. but then that driver who is left cannot be chosen for any other participant’s stable (the extra driver is deemed a lame duck for then entire season and is off limits); the converse is not true, if Dale Jr. is not chosen then he still is up for grabs for the 3 open weekend picks
<li>Prior to each race weekend and before any practice/qualifying, each participant must pick 3 additional drivers
<li>For the first 5 races of the season, your 5 driver stable will be set, just as the top 35 is guaranteed from last season’s final standings
<li>After that and at preset times of the season, changes and trades will be allowed
<li>Realize though that even after that, your picks prior to the race weekend will have to come from the top 35 which are guaranteed a spot in the race
<li>The choosing order for the remaining 3 drivers for each race weekend will be this: Loser (being last in current points standings) first and so on until everyone has picked, then loser first again until everyone has picked, and then for the final pick winner (being leader in the current points standings) first and then loser last
<li>For the first 5 races of the season, the choosing order will be somewhat subjectively set, but here is how it goes:
<ol>
<li>After everyone chooses their first driver from the top 7 and second driver from the next top 7, the order goes as such: participant who chose Greg Biffle -> participant who chose Kurt Busch -> participant who chose Denny Hamlin -> participant who chose Tony Stewart -> participant who chose Mark Martin -> participant who chose Jeff Gordan -> participant who chose Jimmie Johnson
<li>If anyone wagers to chose Dale Jr. in place of one of their top 14 picks, then they automatically get to chose first unless they also chose a Hendrick teammate (Jimmie Johnson, Jeff Gordan, Mark Martin) 
</ol>
<li>For the next 3 picks, we will do a draft style approach following above order which then would restart using the same order but reverse for the final pick
<li>Each participant then has 5 drivers for each race for which they accumulate points based on how they finish using the NASCAR points system
<li>Every race, each participant gains the cumulative points of their 5 drivers based on how they ran in the race
<li>The season is broken up into 3 “chases,” the first winner comes from all races and points gained up until the all-star race, the next winner comes from the remaining races leading up until the chase, and then the final winner is from the chase
<li>Points will erased at each set point
<li>The winner priority (for prizes) will go, Chase winner > winner leading up until the chase > winner leading up until the all star race
<li>We will have an overall winner based on the average of finishes from the 3 segments with highest (meaning lowest in NASCAR) participant being declared the overall winner, this would be a special prize not to exceed but equivalent to the chase winner
<li>Prizes will be set by the group before the finish of the first “chase”
	</ol>